/* ┌────────────────────────────────────────────────────────────────────────┐ */
   #taxo_tools_css_tag         { content: "taxo_tools_css (220118:13h:54)"; }
/* └────────────────────────────────────────────────────────────────────────┘ */
button                 { font-size : unset; }
/* div_tools {{{*/
/* grid layout {{{*/

                       .buttons_pod                { display               : grid;        }
                       .buttons_pod                { direction             : rtl;         }
                       .buttons_pod.r_to_l         { direction             : ltr;         }
                       .buttons_pod        *       { direction             : ltr;         }
                       .buttons_pod.r_to_l *       { direction             : ltr;         }
                       .buttons_pod>*              { grid-auto-flow        : column;      }

                       .buttons_pod.row_col_1x3    { grid-template-columns : repeat( 1, 1fr); }
                       .buttons_pod.row_col_1x3    { grid-template-rows    : repeat( 1, 1fr); }

                       .buttons_pod.row_col_10x3   { grid-template-columns : repeat(10, 1fr); }
                       .buttons_pod.colx1          { grid-template-columns :            1fr ; }


                       .buttons_pod                { padding               : 0                      !important; }
                       .buttons_pod                { border-width          : 0                      !important; }
                       .buttons_pod>*::first-letter{ font-size             : 120%                   !important; }
                       .buttons_pod>*.fixed        { box-shadow            : 1px 1px 1px #EEE       !important; }
                       .buttons_pod>*.fixed        { font-size             : 48px                   !important; }

                       .buttons_pod>*              { transition : top    500ms
                                                                , left   500ms
                                                                , height 500ms; }

/*}}}*/
/* CONTENT {{{*/



/*}}}*/
/*}}}*/
/* note {{{*/
.note     { position          : fixed; left:10%; top:10%; }
.note     { display           : inline-block            ; }
.note     { border-left       : 1em solid #ffff80       ; }
.note     { background        : #EE8                    ; }
.note.warn{ background        : #EE8                    ; }
.note     { color             : #444                    ; }
.note.warn{ color             : #444                    ; }

.note     { padding           : 1ex 1em 1ex 1em         ; }
.note     { font-weight       : 100                     ; }
.note.warn{ font-weight       : 900                     ; }
.note     { font-size         : 16px                    ; }
.note     { font-family       : cursive                 ; }
.note     { font-style        : oblique                 ; }

.note p   { margin-left       : 3em                     ; }
.note pre { margin            : 0                       ; }
.note em  { line-height       : 2.5em                   ; }
.note em  { padding-left      : 0.5em                   ; }
.note em  { padding-right     : 0.5em                   ; }
.note em  { text-shadow       : 1px 1px 0px #FFF        ; }
/*
.note em  { border            : solid 1px black         ; }
*/
.note em  { border-radius     : 0.3em                   ; }
.note em  { box-shadow        : 1px 1px 1px rgba(000,000,000,0.53)       ; }
.note em  { background        : rgba(000,000,170,0.27); }
/*}}}*/
/* user-select white-space cursor {{{*/

/*}}}*/
/* buttons_pod {{{*/
.buttons_pod.movable   { z-index : 2147483647; }
.buttons_pod           { z-index : 2147483601; }
.buttons_pod.hidden    { display    : none !important; }
/*{{{
.buttons_pod.hidden    { opacity    : 0.8 !important; }
}}}*/

.buttons_pod           { white-space      : nowrap;  }
.buttons_pod           { user-select      : none;    }
.buttons_pod>*>*       { pointer-events   : none;    } /* event delegate .. first-level-child only */

.buttons_pod           { transition : left 150ms ease-out, top 100ms ease-out, opacity 250ms 150ms ease-in; }
.button_in_out div     { transition :  all 500ms ease-out !important; }

/*
.buttons_pod           { max-height : 30em; }
.buttons_pod           { overflow   : auto; }
*/

.buttons_pod          { position         : fixed;                               }

.buttons_pod          { margin           : 0                !important; }
.buttons_pod          { border-radius    : 0.5em;                       }
.buttons_pod          { box-shadow       : 2px 2px 5px #444 !important; }
.buttons_pod          { padding          : 0.1em            !important; }

.buttons_pod.pressed  { box-shadow       : none             !important; }
.buttons_pod.pressed  { border-width     : 1px              !important; }
.buttons_pod.pressed  { outline-width    : 0                !important; }


.buttons_pod>*       { border : unset !important;}
.buttons_pod         { border-radius : 0.5em;                  }
.buttons_pod.pressed { border        : none;                   }
.buttons_pod:focus   { border        : transparent !important; }
.buttons_pod:focus   { outline       : transparent !important; }

/*}}}*/
/* taxo_<tree single clear multi> {{{*/

#taxo_tools                     { display               :    grid; }
#taxo_tools                     { grid-template-columns : 1fr 1fr; }
#taxo_tools                     { align-items           :  center; }

#taxo_tools>*                   { pointer-events        : initial; }

#taxo_tools_shadow_host          { position  : fixed; top:0; left:0; }
#taxo_tools_shadow_host          { z-index   : 2147483600; }

#taxo_single                    { user-select  : none; white-space : nowrap; cursor:auto; }
#taxo_clear                     { user-select  : none; white-space : nowrap; cursor:auto; }
#taxo_multi                     { user-select  : none; white-space : nowrap; cursor:auto; }

#taxo_clear                     { grid-column-start: 1; grid-column-end: 2; grid-row-start: 1; grid-row-end: 4; }
#taxo_single                    { grid-column-start: 2; grid-column-end: 3; grid-row-start: 1; grid-row-end: 2; }
#taxo_multi                     { grid-column-start: 2; grid-column-end: 3; grid-row-start: 2; grid-row-end: 3; }
#taxo_check                     { grid-column-start: 2; grid-column-end: 3; grid-row-start: 3; grid-row-end: 4; }

#taxo_single                    { box-shadow : none; margin : 0; padding: 0; border : none !important; }
#taxo_clear                     { box-shadow : none; margin : 0; padding: 0; border : none !important; }
#taxo_multi                     { box-shadow : none; margin : 0; padding: 0; border : none !important; }

#taxo_single                    { background: initial !important; }
#taxo_clear                     { background: initial !important; }
#taxo_multi                     { background: initial !important; }

#taxo_single                    { opacity    : 0.5; }
#taxo_clear                     { opacity    : 0.5; }
#taxo_multi                     { opacity    : 0.5; }

#taxo_single.selected           { opacity    : 1.0; }
#taxo_clear.cleared             { opacity    : 1.0; transform: scale(1.1); }
#taxo_multi.selected            { opacity    : 1.0; }

#taxo_single::after             { content : '\2192' ;                    } /* →   */
#taxo_clear::after              { content : '\2715' ; font-weight : 900; } /* ✕   */
#taxo_multi::after              { content : '\21F6' ;                    } /* →→→ */

#taxo_single.selected::after    { content : '\2192'; color:red; transition:all 150ms ease-out;                                     } /* →   */
#taxo_clear.cleared::after      { content : '\2600'; font-size : 200%; transition:all 150ms ease-out; } /* ☀   */
#taxo_multi.selected::after     { content : '\21F6'; color:red; transition:all 150ms ease-out;                                     } /* →→→ */

#taxo_clear.cleared             {                          color : rgba(0,0,0, 0.2); text-shadow : none; }
#taxo_clear.cleared.fg4         { opacity: 1.0 !important; color : #FF0 !important;             text-shadow : 1px 1px 1px #222; }
#taxo_clear.cleared.fg5         { opacity: 1.0 !important; color : #0F0 !important;             text-shadow : 1px 1px 1px #222; }
#taxo_clear.cleared.fg6         { opacity: 1.0 !important; color : #00F !important;             text-shadow : 1px 1px 1px #222; }
#taxo_clear.cleared.fg7         { opacity: 1.0 !important; color : #F0F !important;             text-shadow : 1px 1px 1px #222; }

/*}}}*/
/* buttons_pod margin color {{{*/
.buttons_pod                     { transform-origin: 0 0;        }
.buttons_pod.magnify             { transform       : scale(1.5); }

.buttons_pod>*                   { line-height      : 1.2em           !important; }

.buttons_pod>*                   { margin           : 2px   0.5em; padding: 0.0em 0.5em; }

.buttons_pod>*::after            { display          : inline-block; }
.buttons_pod>*::after            { height           : 1em;          }
/*{{{
.buttons_pod>*::after            { width            : 1em;          }
}}}*/

.buttons_pod                     {              background-color : #D8D; }
.buttons_pod       >*:nth-child(10n+1)  { color: #000; background : linear-gradient(to right, rgba(136,136,136,0.3), rgba(255,255,255,0.1) 97%, #964B00); }
.buttons_pod       >*:nth-child(10n+2)  { color: #000; background : linear-gradient(to right, rgba(136,136,136,0.3), rgba(255,255,255,0.1) 97%, #FF0000); }
.buttons_pod       >*:nth-child(10n+3)  { color: #000; background : linear-gradient(to right, rgba(136,136,136,0.3), rgba(255,255,255,0.1) 97%, #FFA500); }
.buttons_pod       >*:nth-child(10n+4)  { color: #000; background : linear-gradient(to right, rgba(136,136,136,0.3), rgba(255,255,255,0.1) 97%, #FFFF00); }
.buttons_pod       >*:nth-child(10n+5)  { color: #000; background : linear-gradient(to right, rgba(136,136,136,0.3), rgba(255,255,255,0.1) 97%, #9ACD32); }
.buttons_pod       >*:nth-child(10n+6)  { color: #000; background : linear-gradient(to right, rgba(136,136,136,0.3), rgba(255,255,255,0.1) 97%, #6495ED); }
.buttons_pod       >*:nth-child(10n+7)  { color: #000; background : linear-gradient(to right, rgba(136,136,136,0.3), rgba(255,255,255,0.1) 97%, #EE82EE); }
.buttons_pod       >*:nth-child(10n+8)  { color: #000; background : linear-gradient(to right, rgba(136,136,136,0.3), rgba(255,255,255,0.1) 97%, #A0A0A0); }
.buttons_pod       >*:nth-child(10n+9)  { color: #000; background : linear-gradient(to right, rgba(136,136,136,0.3), rgba(255,255,255,0.1) 97%, #FFFFFF); }
.buttons_pod       >*:nth-child(10n+0)  { color: #000; background : linear-gradient(to right, rgba(136,136,136,0.3), rgba(255,255,255,0.1) 97%, #202020); }
.buttons_pod.r_to_l>*:nth-child(10n+1)  { color: #000; background : linear-gradient(to  left, rgba(136,136,136,0.3), rgba(255,255,255,0.1) 97%, #964B00); }
.buttons_pod.r_to_l>*:nth-child(10n+2)  { color: #000; background : linear-gradient(to  left, rgba(136,136,136,0.3), rgba(255,255,255,0.1) 97%, #FF0000); }
.buttons_pod.r_to_l>*:nth-child(10n+3)  { color: #000; background : linear-gradient(to  left, rgba(136,136,136,0.3), rgba(255,255,255,0.1) 97%, #FFA500); }
.buttons_pod.r_to_l>*:nth-child(10n+4)  { color: #000; background : linear-gradient(to  left, rgba(136,136,136,0.3), rgba(255,255,255,0.1) 97%, #FFFF00); }
.buttons_pod.r_to_l>*:nth-child(10n+5)  { color: #000; background : linear-gradient(to  left, rgba(136,136,136,0.3), rgba(255,255,255,0.1) 97%, #9ACD32); }
.buttons_pod.r_to_l>*:nth-child(10n+6)  { color: #000; background : linear-gradient(to  left, rgba(136,136,136,0.3), rgba(255,255,255,0.1) 97%, #6495ED); }
.buttons_pod.r_to_l>*:nth-child(10n+7)  { color: #000; background : linear-gradient(to  left, rgba(136,136,136,0.3), rgba(255,255,255,0.1) 97%, #EE82EE); }
.buttons_pod.r_to_l>*:nth-child(10n+8)  { color: #000; background : linear-gradient(to  left, rgba(136,136,136,0.3), rgba(255,255,255,0.1) 97%, #A0A0A0); }
.buttons_pod.r_to_l>*:nth-child(10n+9)  { color: #000; background : linear-gradient(to  left, rgba(136,136,136,0.3), rgba(255,255,255,0.1) 97%, #FFFFFF); }
.buttons_pod.r_to_l>*:nth-child(10n+0)  { color: #000; background : linear-gradient(to  left, rgba(136,136,136,0.3), rgba(255,255,255,0.1) 97%, #202020); }

.buttons_pod>*.selected          { background       : #FFF; }
.buttons_pod>*.selected.leaf     { background       : #FFF; }

.buttons_pod>*.selected          { box-shadow       : 2px 2px 2px 1px #888;              }

.buttons_pod>*                   { border           : 2px solid  transparent !important; }
.buttons_pod>*.selected          { border           : 2px solid  #000        !important; }
.buttons_pod>*.selected.leaf     { border-radius    : 1.0em;                             }

.buttons_pod>*.selected          { margin-left      : 0.0em                  !important; }

/*________________________________________MARGIN__________________________________________*/
.buttons_pod       >*.clicked           { margin-left      :  1.0em            !important; }
.buttons_pod       >*.clicked           { margin-right     :  0.0em            !important; }
.buttons_pod.r_to_l>*.clicked           { margin-left      :  0.0em            !important; }
.buttons_pod.r_to_l>*.clicked           { margin-right     :  1.0em            !important; }

.buttons_pod       >*.collected         { margin-left      :  0.0em            !important; }
.buttons_pod       >*.collected         { margin-right     :  0.0em            !important; }
.buttons_pod.r_to_l>*.collected         { margin-right     :  0.0em            !important; }
.buttons_pod.r_to_l>*.collected         { margin-left      :  0.0em            !important; }

/*________________________________________SHADOW____BORDER____BACKGROUND__________________*/
.buttons_pod       >*.clicked           { box-shadow       : 1px 1px 1px 1px #888;         }
.buttons_pod       >*.collected         { border           : 2px solid  #000   !important; }

.buttons_pod       >*.clicked           { border-radius    : 0em 1em 1em 0em   !important; }
.buttons_pod.r_to_l>*.clicked           { border-radius    : 1em 0em 0em 1em   !important; }

.buttons_pod       >*.collected         { border-radius    : 0em 1em 1em 0em   !important; }
.buttons_pod.r_to_l>*.collected         { border-radius    : 1em 0em 0em 1em   !important; }

.buttons_pod       >*.selected          { border-radius    : 0em 1em 1em 0em   !important; }
.buttons_pod.r_to_l>*.selected          { border-radius    : 1em 0em 0em 1em   !important; }

.buttons_pod       >*.collected         { color            : #DDD              !important; }

/*________________________________________::BEFORE____::AFTER_____________________________*/
.buttons_pod       >*.clicked::after    { float: right; padding: 0px 5px;                  } /* →   */
.buttons_pod       >*.collected::after  { float: right; padding: 0px 5px;                  } /* ✔✔✔ */
.buttons_pod.r_to_l>*.clicked::before   { float:  left; padding: 0px 0px;                  } /* ←   */

.buttons_pod       >*.clicked::after    { content          : '\2192';                      } /* →   */
.buttons_pod       >*.selected::before  { content          : '\2714';                      } /* ✔   */
.buttons_pod.r_to_l>*.clicked::after    { content          :   none;                       } /*     */
.buttons_pod.r_to_l>*.clicked::before   { content          : '\2190';                      } /* ←   */

.buttons_pod       >*.collected::before { content          : '\21F6'           !important; } /* →→→ */
.buttons_pod.r_to_l>*.collected::before { content          : '\2B31'           !important; } /* →→→ */

/*____________________visited_____________________________________________________________*/
.buttons_pod       >*.visited   { text-shadow      : 1px 1px 2px #000;      }
.buttons_pod       >*.visited   { background-color : rgba(136,136,255,0.3); }
.buttons_pod       >*.clicked   { background-color : rgba(255,255,255,0.5); }
.buttons_pod       >*.collected { background-color : rgba(034,034,034,1.0); }

/*}}}*/
.collected.checked { background-color : #F00 !important; }
.collected.checked {            color : #FFF !important; }
 .selected.checked { background-color : #FF0 !important; }
 .selected.checked {            color : #F00 !important; }
          .checked {       font-weight:  900 !important; }
          .checked {       transition : background-color 450ms 50ms !important; }
/* TO BE INJECTED INTO: javascript/taxo_tools.js */
